body {
    margin: 0;
    background-color: pink;
    height: 100vh;
    color: black;
}

.order{
    margin: 0 0 35px;
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px 0;
}

.order-link{
    padding: 10px 15px;
    background-color: #ff7c00;
    border-radius: 7px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.order-box{
    text-align: center;
}

.main{
    display: flex;
    position: relative;
}

.aside{
    width: 235px;
    margin-left: 50px;
    flex-shrink: 0;
}

h2{
    margin: 0 0 15px;
    text-align: center;
}

.lists{
    list-style: none;
    padding: 0;
    margin: 0;
}

.order-box{
    background-color:#ff7c00;
    border-radius: 7px;
    /*transform: translate(50%);*/
    padding: 0 20px;
    width: 560px;
}

.order-container{
    display: flex;
    justify-content: space-between;
    border: 2px solid crimson;
    border-radius: 7px;
    margin-bottom: 5px;
}

.order-text{
    padding: 0 10px;
    cursor: pointer;
}
.detail-order{
    background-color: transparent;
    border: none;
    align-self: center;
}


.detail-order-img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.delete-btn{
    align-self: center;
    width: 16px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
}

.item-lists{
margin-bottom: 10px;
}

.nav-link{
    padding: 10px 30px;
    background-color: #ff7c00;
    display: block;
    border-radius: 7px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.image{
   width: 100px;
}

.products{
    display: flex;
    gap: 50px;
    padding: 40px 40px 20px;
    width: 700px;
    flex-wrap: wrap;
    flex: 0 0 auto;
    align-content: flex-start;
}

.product-box{
    background-color: white;
    padding: 0 10px 0 10px;
    border-radius: 7px;
    flex: 0 1 calc(100% / 3 - 55px);
    /*width: calc(100% / 3 - 55px);*/
}

.product-image{
    display: block;
    width: 100%;
    padding: 15px 0 ;
    height: 200px;
    object-fit: contain;
}

.name-product{
    height: 32px;
    overflow: hidden;
    margin: 0 0 0;
    padding: 0 0 5px;
}

.price-product{
    margin: 10px 0;
}

.itemProduct {
    padding:40px 20px 0 0 ;
}

.item-box{
    margin-bottom: 25px;
}

.item-image {
    border-radius: 7px;
}

.massage{
    z-index: 999;
    background-color: #ff7c00;
    position:fixed;
    min-width: 200px;
    max-height: 100px;
    padding: 10px 20px;
    top: 0;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 12px;
    font: 19px/19px Arial sans-serif;
    text-align: center;
}
.massage p {
    margin: 10px;
}

.block-form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 65px 50px 0 0;
}

.radio{
    align-self: flex-start;
}