body {
    margin: 0;
    background-color: pink;
    height: 100vh;
    color: black;
}

.main{
    margin: 150px 20px 0;
}

.comment-block{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding-bottom: 20px;
}