body {
    margin: 0;
    background-color: pink;
}

.emoji{
    width: 600px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 50vh;
}

.emoji-box{
    width: 100px;
    display: flex;
    flex-direction: column;
    background-color: orange;
}