.App{
  display: flex;
  flex-direction: column;
}


.form{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 50px 0 0;
}

label{
  margin: 10px 0 0 0;
}
label:first-child{
  margin: 0;
}

input{
  margin-bottom: 15px;
  border-radius: 7px;
  padding: 8px 10px;
}

.error{
  margin:-15px 0 0 ;
  color: red;
  font-size: 10px;
  line-height: 14px;
}

.btn{
  display: block;
  margin: 1rem 0;
  padding: 0.35rem 0.5rem;
  background-color: #4299e1;
  color: #1a202c;
  border: none;
  border-radius: 3px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}