.emoji{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.emoji-list{
    width: 100px;
    display: flex;
    flex-direction: column;
    background-color: orange;
}

.winner-box{
    display: flex;
    flex-direction: column;
}

.emoji-winner{
    align-self: center;
}